@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #E86F28;
  --color-primary-dark: #C55A1E;
  --color-primary-light: #F28A4A;
  
  --color-surface-dark: #1E293B;
  --color-surface-light: #FFFFFF;
  
  --color-background-dark: #0F172A;
  --color-background-light: #F3F4F6;
  
  --color-border-dark: #334155;
  --color-border-light: #E5E7EB;
  
  --font-family-sans: 'Inter', sans-serif;
}

@variant dark (&:where(.dark, .dark *));

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
